* {
    margin: 0;
}

.header {
    background-color: navy;
    padding: 40px;
    margin: 0px;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
}

h2 {
    margin: 5px;
}

.search{
    padding: 7px;
    margin: 5px;
    width: 225px;
}

.button {
    padding: 3px;
    margin: 5px;
    width: 238px; 
    background-color: lightblue;
}

.container {
  display: flex; 
}
.box.box.box-daily {
    padding: 5px;
    margin: 10px;
    width: 900px;
    height: 100px;
}